  :root{
    --neon-blue:#5390d9;
    --neon-pink:#56cfe1;
    --neon-purple:#72efdd;
    --neon-green:#80ffdb;
    --dark-bg:#010101;
    --darker-bg:#0a0a0a;
    --text-color:#eee;
}
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Hidden state */
    .hidden {
      opacity: 0;
      transform: translateY(50px);
      transition: all 0.8s ease;
    }

    /* Slide from left */
    .slide-left {
      transform: translateX(-150px);
    }

    /* Slide from right */
    .slide-right {
      transform: translateX(150px);
    }

    /* Slide from bottom */
    .slide-bottom {
      transform: translateY(150px);
    }

    .slide-top {
      transform: translateY(-150px);
    }
    /* Visible state */
    .show {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--dark-bg);
    color: var(--text-color);
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(10px);
}

.logo{
    font-size: 30px;
    font-weight: 900;
    color: #5390d9;
}

.nav-link{
    display: flex;
    gap: 50px; 
}

.nav-link a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
}

#cancel{
    display: none;
}
#text{
    display: none;
}

.nav-link a:hover{
    color: var(--neon-blue);
}

.nav-link a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 10%;
    height: 2px;
    background: linear-gradient(90deg, var(--neon-blue), var(--neon-pink));
    transition: width 0.3s ease;
    
}

.nav-link a:hover::after{
    width: 100%;
}

.see-resume{
  display: none;
}

/* hero */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5% ;
    gap: 60px;
    padding-top: 150px;
}

.hero-content{
    z-index: 2;
    width: 650px;
}

.hero h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.hero h1 span{
    color: #5390d9;
}

.hero p{
    font-size: 19px;
    margin-bottom: 2rem;
    line-height: 1.6;
    color: #ccc;
}

.cta-button{
    display: inline-block;
    padding: 0.8rem 2rem;
    background: linear-gradient(90deg, var(--neon-blue), var(--neon-pink));
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 136, 255, 0.5);
}

.cta-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 25px rgba(0, 136, 255, 0.8);
}

.cta-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255,255,0.2), transparent);
    transition: 0.5s;
}

.cta-button:hover::before{
    left: 100%;
}

.profile-container{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid transparent;
    box-shadow: 0 0 20px var(--neon-blue), 0 0 40px var(--neon-purple), 0 0 60px var(--neon-pink);
    animation: glow 2s ease-in-out infinite alternate, float 6s ease-in-out infinite;
    z-index: 1;
}


@keyframes glow{
    0%{
        box-shadow: 0 0 20px var(--neon-blue), 0 0 40px var(--neon-pink), 0 0 60px var(--neon-purple);
    }
    

    100%{
        box-shadow: 0 0 30px var(--neon-pink), 0 0 60px var(--neon-purple), 0 0 90px var(--neon-blu);
    }
}

/* about */
.about{
    width: 100%;
    padding: 5rem 5%;
    background-color: var(--darker-bg);
    position: relative;
}

.about::before{
    margin-top: 1%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    text-align: center;
    background: linear-gradient(90deg, var(--neon-blue), var(--neon-pink));
}

.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.section-title::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,var(--neon-blue), var(--neon-pink));
    border: 3px;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.about-text{
    flex: 1;
}

.about-text p{
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #ccc;
}

.download-btn {
  display: inline-block;
  padding: 12px 25px;
  background: var(--neon-blue);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.download-btn:hover {
  background: #0056b3;
}


.skills{
    flex: 1;
    width: 450px;
}

.skill-item{
    margin-bottom: 1.5rem;
}

.skill-name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skill-bar{
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.skill-progress{
    border-radius: 5px;
    height: 100%;
    animation: fillbar 4s ease-out forwards;
    background: linear-gradient(90deg, var(--neon-blue), var(--neon-pink));
}

/* project */
.projects{
    padding: 1% 3.3% 40px;
    position: relative;
    width: 100%;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3%;
    margin-top: 2rem;
    padding: 0 0 2%;
    margin: 0 0 50px;
}

.project-card{
    background-color: var(--darker-bg);
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
    border: 5px solid #333;
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 136, 255, );
}

.project-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.project-card:hover .project-image{
    transform: scale(1.03);
    border-radius: 10px;
    filter: brightness(0.5);
   
}

.project-info{
    padding: 1.5rem;
}

.project-title{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: var(--neon-blue);
}
.profile-description{
    color: #ccc;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.project-tech{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tech-tag{
    background-color: rgba(0, 136, 255, 0.2);
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
}

.project-links{
    display: flex;
    gap: 1rem;
}

.project-link{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transition: color 0.3s ease;
}

.project-link:hover{
    color: var(--neon-pink);
}
.see-div{
    margin-top: 70px;
    text-align: center;
}
.see{
    display: inline-block;
    padding: 0.8rem 2rem;
    background: linear-gradient(90deg, var(--neon-blue), var(--neon-pink));
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 136, 255, 0.5);
}

.see:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 25px rgba(0, 136, 255, 0.8);
}

.see::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255,255,0.2), transparent);
    transition: 0.5s;
}

.see:hover::before{
    left: 100%;
}

/* contact */

.contact{
    width: 100%;
    padding: 5rem 5%;
    background-color: var(--darker-bg);
    position: relative;
}

.contact-form{
    margin: auto;
    display: grid;
    gap: 1.5rem;
    padding: 0 15%;
}

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    input, textarea {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 1em;
      background: #262626;
      color: #fff;
      outline: none;
      transition: 0.3s;
    }

    input:focus, textarea:focus {
      background: #333;
      border-left: 3px solid #00adb5;
    }

    textarea {
      resize: none;
      height: 120px;
    }

    button {
      background: #00adb5;
      border: none;
      padding: 14px;
      font-size: 1em;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background: #019ca3;
    }

    #status {
      text-align: center;
      margin-top: 12px;
      font-weight: bold;
    }

    #status.success {
      color: #00ff9d;
    }

    #status.error {
      color: #ff5252;
    }

/* footer */
footer{
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #0a0a0a;
    position: relative;

    transform: translateY(20px);
    transition: opacity 1.2s ease-out;
    transform: 1.2s ease-out;
    will-change: opacity, transform;
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.social-link{
    color: #ccc;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.social-link:hover{
    color: var(--neon-blue);
    transform: tr-3px;
}

.copywright{
    color: #666;
    font-size: 0.9rem;
}

@keyframes fillbar{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--darker-bg);
}

::-webkit-scrollbar-thumb{
    background: var(--neon-purple);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--neon-pink);    
}

@media(max-width:820px){
  nav{
    display: flex;
    padding: 1em 3%;
    justify-content: space-between;
  }
    .nav-link{
    display: none;
    position: fixed;
    width: 50%;
    background-color: var(--dark-bg);
    height: 800px; 
    right:  0;
    transition: 0.3s ease-in-out;
    text-align: center;
    top: 0%;
    z-index: 3;
    animation: display 0.2s ease-in-out forwards;
}

@keyframes display{
    from{
        width: 0;
    }
    to{
        width: 50%;
    }
}

.see-resume{
  display: block;
}

.nav-link a{
    /* margin-left: 40%; */
    margin-top: 5%;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
}
.nav-link a:hover{
    color: var(--neon-blue);
}

.nav-link a::after{
    display: none;
}

#cancel{
    /* background-color: var(--neon-purple);
    margin-left: 79%;
    margin-bottom: 100px;
    border-radius: 50%; */
    margin-left: 70%;
    margin-top: 20px;
    display: block;
    font-size: 30px;
    font-weight:600;
    color: #ffffff;
    cursor: pointer;
}
#text{
    font-size: 2rem;
    background: var(--dark-beg);
    color: var(--text-color);
    display: block;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5% ;
    gap: 60px;
    padding-top: 150px;
}


.hero-content{
    z-index: 2;
    width: 100%;;
}

/* about */
.about-content{
    flex-direction: column;
}

.about-text{
    width: 100%;
}

.about-text p{
    font-size: 20px;
    color: #ccc;
}

.skills{
    width: 80%;
}

.projects{
    padding: 1% 3.3% 80px;
}

.contact-form{
    padding: 0 10%;
}
}


@media(max-width:430px){
    #cancel{
    padding: 0% 5%;
}

.hero h1{
    font-size: 30px;
}

.hero p{
    font-size: 15px;
    margin-bottom: 2rem;
}

.cta-button{
    margin-left: 20%;
    display: inline-block;
    padding: 0.8rem 3rem;
    background: linear-gradient(90deg, var(--neon-blue), var(--neon-pink));
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 136, 255, 0.5);
}


.profile-container{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    width: 250px;
    height: 250px;
}

.about-text{
    width: 100%;
}

.about-text p{
    font-size: 17px;
    color: #ccc;
}
.see-div{
    display: none;
}

.projects{
    padding: 1% 3.3% 150px;
}
}